body{
  font-family:"Inconsolata", sans-serif;
  font-size:19px;
  line-height:1.3em;
  margin:0;
  padding:0;
}
#black {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
}

#black {
  font-size: 19px;
  line-height: 1.3em;
  background: -webkit-linear-gradient(right, #1d2835, #1f2b38);
  background: linear-gradient(right, #1d2835, #A7FF00);
  color: #000;

}
#pic{
  font-size: 19px;
  line-height: 1.3em;
  background: url('../images/Astronomy.jpg') no-repeat center center;i
  background-position: center;
  background-size: cover;
  color: #000;

}


/* aboutpage */
ul#services li{
  list-style: none;
  padding:20px;
  margin-bottom:5px;
  background:#1d2835;
}
#sidebar{
  list-style: none;
  padding:20px;
  margin-bottom:5px;
  background:#1d2835;

}
  #main-col1{
  list-style: none;
  padding:20px;
  margin-bottom:5px;
  background:#1d2835;

}
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  text-align: left;
  width:65%;
}
/* Global */
#containers{
  margin:auto;
  overflow:hidden;
  background:#283747  ;
}
h1{
  color: #2ECC71;
}

img{
  width:100%;
}
#textcolor{
  color: #
}
#textblop{
  color: #
}
h3{
  color: #2ECC71
}
#pi{
  color: #2ECC71
}
#greeno{
  color: #2ECC71;
  padding:20px;
  margin-bottom:5px;
  background: #1d2835;
-webkit-box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
-moz-box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
}
#green{
  color: #2ECC71;
  padding:20px;
  margin-bottom:5px;
  background:#1d2835;

}
#greeny{
  color: #2ECC71;
  padding:20px;
  margin-bottom:5px;
  background:#1d2835;
  -webkit-box-shadow: 10px 10px 91px 0px #2ECC71;
  -moz-box-shadow: 10px 10px 91px 0px #2ECC71;
  box-shadow: 10px 10px 91px 0px #2ECC71;
}

#greenyy{
  color: #000;
  padding:20px;
  margin-bottom:5px;
  background:#2ECC71;
  -webkit-box-shadow: 10px 10px 91px 0px #2ECC71;
  -moz-box-shadow: 10px 10px 91px 0px #2ECC71;
  box-shadow: 10px 10px 91px 0px #2ECC71;
}

.container{
  margin:auto;
}



  
